<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../static/jquery-2.1.3.min.js"></script>
    <link rel="icon" href="../static/fav.ico">
    <link rel="stylesheet" type="text/css" href="../static/novel.css">
    <script>
        $(document).ready(function(){
            $('#comment_sbm').click(function(){
                $.post(
                     '/comment',
                    {
                        username:"{{session['username']}}",
                        comment: $('#comment_input').val()
                    },
                    function(data, status)
                        {
                            if (data.code == 1) {
                                display_comment = "<p>{{session['username']}}  say:"+$('#comment_input').val()+'</p>';
                                $('#comments_display').append(display_comment);
                                $('#comment_input').val('');
                            }
                            else {
                                $('#comments_display').append('<p> 发送不成功，请重新发送</p>');
                            }
                        }

                );
                return false;
            })
        })
    </script>
</head>
<body>
<div id="comments_display">
        </div>
        <div id="comments">
            {% if session['username']%}
                <input id='comment_input' type="text" size="60">
                <button id="comment_sbm" type="button" >提交</button>
            {% endif %}
        </div>
</body>
</html>